.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader-icons {
  color: red;
  height: 50px;
  width: 50px;
  text-align: center;
  margin-top: 120px;
}
